<p>
  <b><%=t :name %>:</b>
  <%= find_card_name_by_id @carta.wocid %></br>
  <b><%=t :quantity %>:</b>
  <%= @carta.cantidad %></br>
  <%=image_tag "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{@carta.wocid}&type=card" %>
  </br>
</p>

<%= link_to t ('Back'), cartas_path %>
