<!DOCTYPE html>
<html>
<head>
  <title>Magicolector</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<script type="text/javascript"> 
$(document).ready(function(){
 
	$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav
	
	$("ul.topnav li span").click(function() { //When trigger is clicked...
		
		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
 
		$(this).parent().hover(function() {
		}, function(){	
			$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});
 
		//Following events are applied to the trigger (Hover events for the trigger)
		}).hover(function() { 
			$(this).addClass("subhover"); //On hover over, add class "subhover"
		}, function(){	//On Hover Out
			$(this).removeClass("subhover"); //On hover out, remove class "subhover"
	});
 
});
</script> 

</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    <%= t :signed_in_as %> <%= current_user.email %>. <%= t :not_you? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to t(:sign_up), new_user_registration_path %> <%=  t :or %> <%= link_to t(:sign_in), new_user_session_path %>
  <% end %>
    </br>
</div>
  <!-- ejemplo del menu -->
  <%
  items_menu=[
    ["Inicio","/",[]],
    ["Coleccionistas","/coleccionistas",[]],
    ["Colecciones","/colecciones",[]]]
  session["items_menu"]=items_menu if session["items_menu"].nil?    
%>
<div id="menu">
<%=raw menu(session["items_menu"]) %>
  </div>
  </br>
    <% flash.each do |key, value| %>
        <div id="<%= key %>"><p><%= value %></p></div>
    <% end %>
    <br>
<%= yield %>
</body>
</html>
